:root {
  --body-bg: #f0f4f8;
  --container-bg: #fff;
  --our-green: #004d40;
  --our-light-green: #00796b;
  --our-red-btn: #d32f2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  font-size: 0.9375rem;
  color: #555;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container {
  background-color: var(--container-bg);
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 2rem;
}

.each-form-field {
  padding: 1rem 0;
}

.question-label {
  padding: 0 0 0.6rem 0;
}

.green-btn {
  background-color: var(--our-light-green);
}

.red-btn {
  background-color: var(--our-red-btn);
}

.red-btn, .green-btn {
  color: white;
}

.green-text {
  color: var(--our-light-green);
}

.btn {
  padding: 0.3rem 0.8rem;
}

.submit-btn {
  margin-top: 2rem;
}

input[type=number] {
  width: 80%;
  height: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  outline: solid 2px #ccc;
  padding: 1rem 0.5rem;
}

input[type=number]:focus-visible {
  outline: solid 1px #00796b;
}